:root {
    --light: #faf8f8;
    --dark: #141021;
    --secondary: #7c00ce;
    --tertiary: #ff48d4;
    --visited: #afbfc9;
    --primary: #f28482;
    --gray: #3f3f3f;
    --lightgray: #f0f0f0;
    --outlinegray: #dadada;
    --million-progress-bar-color: var(--secondary);
    --highlighted: #8446ff88;
    --header: #bca1ff;
    --title: rgb(55, 0, 255);
    --scrollbar: gray;
    --scrollbar-track: #DDD;
}

[saved-theme="dark"] {
    --light: #1e1e21 !important;
    --dark: #f7f2fa !important;
    --secondary: #b866ff !important;
    --visited: #d199ff !important;
    --tertiary: #92a8ff !important;
    --primary: #f58382 !important;
    --gray: #d4d4d4 !important;
    --lightgray: #292633 !important;
    --outlinegray: #343434 !important;
    --highlighted: #574010;
    --header: #7838f8;
    --title: rgb(253, 116, 253);
    --scrollbar: rgb(177, 177, 177);
    --scrollbar-track: rgb(51, 51, 51);
}